body {
    height: 100vh;
    overflow-x: hidden;
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    padding: 20px 30px;
    background-color: whitesmoke;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
}

.form-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    height: 60vh;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
    width: 30%;
    height: 50%;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
}

form input {
    border-radius: 5px;
    height: 20px;
}

form button {
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    background-color: cadetblue;
    padding: 10px 20px;
}

